.mail{
    border: 1px solid rgb(1, 1, 1); margin: 0rem 6; text-align: center; border-radius: 5px; margin-bottom: 2rem; border-bottom: 1px solid;
}
.CVismim{ margin-top:5rem; text-align: center; height: 5rem; line-height: 5rem; font-size: 12em; border: 1px solid rgb(176, 168, 185); border-radius: 5px; background-color: rgb(176, 168, 185); color: white; box-shadow: 8px 8px 8px gainsboro;
}
.CVbasliklar{ margin-top:3rem; text-align: center; height: 2rem; line-height: 5rem; font-size: 2.5em; border: 1px solid rgb(176, 168, 185); border-radius: 5px; background-color: rgb(128, 128, 128); color: white; box-shadow: 8px 8px 8px gainsboro;
}

@media screen and (max-width: 760px){
    .mail{
        margin: 0; border-radius: 0%; text-align: center; line-height: 5rem;
    }
    .CVismim{text-decoration: underline;
    }
    .CVbasliklar{text-align: center; margin-top: 1rem;
    }
}
