.govde{
    background-color: rgb(176, 168, 185);
    margin: 2rem 0;
    padding: 1rem 0;
    color: white;
    border-left: 2px solid rgb(1, 1, 1);
    border-bottom: 2px solid rgb(1, 1, 1);
    border-radius: 10px;
}
.yazi{
    padding-top: 1.5rem;
    height: 10em;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 1px gray;
    margin: 0;
}
.yazi p{
    text-align: justify;
}
.yazi a{
    color: black;
}
.yazi a:hover{
    text-decoration: none;
}
.ben{
    text-align: center;
    padding-top: 2rem;
}
.ben img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.baslik-yazi{
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    line-height: 11rem;
}
.baslik-yazi p{
    margin-left: 3rem;
}
.bilgiler-baslik{
    margin-top: 5rem;
    border-bottom: 1px solid;
    margin-bottom: 2rem;
}

@media screen and (max-width: 760px){
    .govde{
        margin: 0;
        border: none;
        border-radius: 0%;
    }
    .baslik-yazi{
        text-align: center;
        line-height: 5rem;
    }
    .row-baslik{
        text-decoration: underline;
    }
    .bilgiler-baslik{
        text-align: center;
        margin-top: 1rem;
    }
    .baslik-yazi p{
        margin-left: 0;
    }
}
