.govde{ min-height: 30rem;
}
.textbutton{
    margin-top: 1rem;
}
.button{background-color: rgb(176, 168, 185); width: 70%; border: 10px solid rgb(176, 168, 185); border-radius: 0px;  color: white;
}
.button2 {background-color: white; color: black;  border: rgb(176, 168, 185);
}

.button2:hover { background-color: rgb(176, 168, 185); color: white;
}

.butonunarkasi{background-color: rgb(176, 168, 185); width: 90%; border: 20px solid rgb(176, 168, 185);   color: white;
}