.header{
    background-color: rgb(1, 1, 1);
}
.header a{
    color: white;
    opacity: 0.9;
    font-size: 18px;
}
.header a:hover{
    text-shadow: 1px  white;
    opacity: 1;
    transition: all 0.1s linear;
    color: white;
}
.kocaelispor{
    border: 6px solid rgb(176, 168, 185);
    margin: 2rem 0;
    text-align: left;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gainsboro;
	background-color:#B0A8B9;
}
.Ortala{
  text-align: center;
}
.resim{
	position: center;
    padding-top: 2rem;
}
.resim img{
	position:center
    border-radius: 50%;
}
.mail{
    border: 1px solid rgb(1, 1, 1);
    margin: 0rem 0;
    text-align: center;
    box-shadow: 2px 2px 2px gainsboro;
}


